.footer {
    background-color: #222;
    color: #fff;
    padding: 3em;
    text-align: center;
    align-items:center;
  }
  
  .social_list {
    display:flex;
    list-style: none;
    align-items:center;
    justify-content:center;
  }
  
  .social_list li {
    margin: 0 1em;
  }
  
  .social_list li:hover {
    color: #ffbb33;
  }
  
  .social_list svg {
    font-size: 1.5em;
    cursor: pointer;
    align-items: center;
    align-self: flex-end;
  }
  
  .copy_right {
    margin-top: 2em;
  }
  
  .copy_right span {
    font-weight: bold;
    color: #ffbb33;
  }